@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;800&display=swap');

body {
  font-family: 'Darker Grotesque', 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20pt;
  background: black;
  color: white;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  margin: 0.5em 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  color: rgb(174, 174, 174);
  font-weight: 800;
  text-decoration: underline;
  list-style: armenian;
  margin: 0;
  padding: 0;
}

ul li a {
  color: rgb(174, 174, 174);
  text-decoration: underline;
  cursor: pointer;
}