
@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Fredoka+One);

	html {
		margin: 0;
		padding: 0;
		min-width: 100%;
		height: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		background: url(./background.jpg);
		min-width: 100%;
		min-height: 100%;
		height: 100%;

		font-family: 'sans-serif';
		font-size: 16pt;
	}

	.logo {
		display: block;
		margin: auto;
		width: 95%;
		margin-top: 20px;
		max-width: 390px;
		/*text-align: center;*/
	}

	.container {
		display: block;
		margin: auto;
		width: 80%;
		padding: 20px;
	}

	.intro {
		text-align: center;
		/*color: white;*/
		color: #B7ACDA;
		/*background: #FFB1D7;*/
		background: white;
		border: 10px solid #FFB1D7;
		padding: 10px 20px;
		box-shadow: -5px 5px #B7ACDA;
		/*text-shadow: -2px 2px #8E99BB;*/
		font-size: 1.5rem;
		font-weight: 400;
		/*opacity: 0.8;*/
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Fredoka One', sans-serif;
	}

	h3 {
		font-family: 'Muli';
		font-size: 1.1em;
		color: #444;
	}

	.left {
		display: inline-block;
		/*position: absolute;*/
		/*left: 0;*/
		/*top: 0;*/
		/*bottom: 0;*/
		/*right: 50%;*/
		/*overflow-y: scroll;*/
		width: 49.9%;
		box-sizing: border-box;
		padding: 10px;

		text-align: center;
		font-family: 'Muli', sans-serif;
		font-size: 2rem;
		color: #FFB1D7;
		text-shadow: -2px 2px white;
	}

	.right {
		display: inline-block;
		/*position: fixed;*/
		/*left: 50%;*/
		/*top: 0;*/
		/*bottom: 0;*/
		/*right: 0;*/
		width: 49.9%;
		background: white;
		float: right;
		overflow: hidden;
		box-sizing: border-box;
		padding: 30px;
		color: black;
		font-family: 'Muli', sans-serif;
		min-height: 100%;
		
		/*text-shadow: -1px 2px #3D7974;*/
	}

	.right a {
		text-decoration: none;
		color: black;
		font-weight: 800;
		border-bottom: 1px dotted;
	}

	.left.art {
		position: fixed;
		right: 70%;
		width: auto;
	}

	.right.art {
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		right: auto;
		margin-left: 30%;
		width: 70%;
		max-width: 640px;
	}

	.nav {
		display: block;
		margin: 0;
		padding: 0;
		margin-top: 0px;
		margin-bottom: 20px;
		list-style-type: none;
	}

	.nav li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.nav a {
		text-decoration: none;
		color: white;
		padding: 5px 10px;
		/*border-radius: 6px;*/
		background: black;
		text-shadow: none;
		font-size: 1rem;

		transition: background 0.1s;
		-webkit-transition: background 0.1s;
	}

	.nav a.special {
		background: #BE4BC3;
	}

	.nav a.special2 {
		background: red;
	}

	.nav a.special3 {
		background: #334486;
	}

	.nav a:hover {
		background: #6AFDD7;
	}

	.nav .loser {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.nav .loser a {
		margin-top: 10px;
		display: block;
		padding: 0;
		line-height: 0;
	}

	.media {
		text-align: center;
	}

	.media img {
		max-width: 100%;
		margin: auto;
	}

	.media .caption {
		font-size: 0.8em;
		font-weight: 600;
		padding: 1em;
	}

	.avatar img {
		max-width: 100px;
	}

	.content p {
		color: #29424C;
		text-shadow: none;
		font-size: 1rem;
		font-weight: 300;
	}

	.right.art a {
		/*color: black;*/
		/*text-decoration: none;*/
		/*border-bottom: 1px dashed;*/
	}

	.media .description {
		font-size: 1.5rem;
	}

	@media screen and (max-width: 600px) {
		.left, .left.art {
			display: block;
			position: relative;
			left: auto;
			top: auto;
			bottom: auto;
			right: auto;
			background: url(./background.jpg);
			width: 100%;
		}

		.logo {
			margin-top: 0;
		}

		.right, .right.art {
			margin: auto;
			display: block;
			position: relative;
			left: auto;
			top: auto;
			bottom: auto;
			right: auto;
			margin-left: auto;
			width: auto;
		}

		.nav li {
			display: inline-block;
			margin: 0;
			padding: 0;
		}

	}