body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: "Courier New", Courier, monospace;

  h1 {
    color: lime;
    text-shadow: 0px 0px 20px lime;
  }

  .cub {
    // color: black;
    // text-shadow: 0px 0px 20px black;
    color: lime;
    text-shadow: 0px 0px 5px lime;
  }

  .event {
    max-width: 640px;
  }

  img {
    width: 100%;
  }

  pre {
    width: 100%;
  }

  a,
  .fake-link {
    display: inline;
    color: blue;
    text-decoration: underline dashed;
    border-bottom: 1px dotted white;
    &:hover,
    &:active {
      color: white;
      background-color: blue;
      // border-bottom: 1px solid transparent;
      outline: 1px dotted white;
    }
    &:active {
      background-color: purple;
      text-decoration: none;
    }
  }

  &::selection {
    background: lime;
    color: white;
    text-shadow: 0px 0px 5px white;
  }

  b {
    color: red;
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    flex: 0 0 20px;

    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Universal support since 2021   */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  }

  .q {
    font-weight: bold;
  }

  .RSVP {
    font-size: 50px;
    text-decoration: none;
    background: lime;
    color: white;
    padding: 10px;
  }

  .language.selected,
  .language:hover {
    text-decoration: none;
    color: white;
    background: blue;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

#root {
  padding: 0;
  margin: 0;
}

.archive,
.archive-under {
  padding: 30px;
}

.archive {
  box-shadow: 0px -10px 20px black;
  background: white;
}

.archive-body {
  max-width: 640px;

  .row {
    .url-holder {
      position: relative;
    }

    a {
      text-decoration: none;
      z-index: 2;
    }

    .dots {
      border-bottom: 1px dotted black;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}
