html {
  height: 100%;
  width: 375px;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 375px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  user-select: none;
}

.chatLog {
  position: absolute;
  top: 64px;
  bottom: 240px;
  width: 375px;
  overflow-y: scroll;
}

.chat {
  margin: 10px;
}

.avatar {
  vertical-align: top;
  display: inline-block;
  height: 45px;
  width: 45px;
}

.message {
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
}

.message .heading .name {
  font-weight: bold;
}

.message .heading .time {
  padding-left: 10px;
  font-size: 10pt;
  color: #bbb;
}

.message p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.log {
  margin-bottom: 10px;
}

.keyboard {
  background: #d1d5da;
  position: absolute;
  bottom: -198px;
  height: 240px;
  width: 375px;
  transition: bottom 0.2s;
}

.keyboard .textbox {
  border-top: 1px solid #ddd;
  background: #fafafa;
  height: 40px;
}

.keyboard.open {
  bottom: 0px;
}

.row {
  text-align: center;
}

.key {
  user-select: none;
  display: inline-block;
  width: 10%;
  margin-top: 5px;
  font-size: 18pt;
  font-weight: 100;
  z-index: 0;
  position: relative;
}

.key .back {
  display: inline-block;
  background: white;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.key.down {
  z-index: 100;
}
.key.down .back {
  transform: scale(1.5, 1.5) translateY(-100%);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}
.key.down:after {
  content: '';
  position: absolute;
  top: -11px;
  bottom: 0;
  left: 5px;
  right: 5px;
  background: white;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  z-index: 100;
}

.key.space {
  width: 60%;
}

.key.space .back {
  height: 20px;
}

.key.space.down .back {
  transform: none;
}

.key.space.down:after {
  content: '';
}

.textbox .input {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 3px;
  height: 32px;
  user-select: none;
  width: 267px;
  /*padding-top: 5px;*/
  /*padding-left: 5px;*/
}

.textbox .input .text {
  display: inline-block;
  margin: 7px;
  min-height: 18px;
}

.text pre {
  font-family: sans-serif;
  display: inline;
}

.btn {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-left: 10px;
  margin-right: 10px;
}

.sticky-btn {
  background-image: url('./images/smiley.png');
}

.photo-btn {
  background-image: url('./images/photo.png');
}

.sticky-btn.active {
  background-image: url('./images/smiley_active.png');
}

.photo-btn.active {
  background-image: url('./images/photo_active.png');
}

.backspace {
  position: absolute;
  bottom: 51px;
  right: 5px;
  width: 45px;
  height: 49px;
  background-image: url('./images/backspace.png');
  background-size: cover;
}

.send {
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 90px;
  font-size: 12pt;
}

.send .back {
  color: white;
  background: #077FF5;
  padding-top: 8px;
  padding-bottom: 9px;
}

.send.key.down:after {
  background: #077FF5;
}

.stickers {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling:touch;
  height: 200px;
}

.stickers .list {
  width: 500px;
}

.sticker {
  height: 90px;
  user-drag: none;
  user-select: none;
  transition: transform 0.1s;
}

.sticker.down {
  transform: scale(1.2, 1.2);
}

.photos {
  height: 200px;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling:touch;
}

.photos img {
  height: 200px;
}

.photos .list {
  width: 1151px;
}

#click {
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 25px;
  top: 0px;
  left: 0px;
  z-index: 1001;
  transition: opacity 0.15s;
  transform: translate(-25px, -25px);
  opacity: 0;
  pointer-events: none;
}
