html, body {
  padding: 0;
  width: auto;
  height: auto;
  // width: 100%;
}

#root {
  margin: 10px;
}

.page {
  gap: 0px;
  flex-grow: 1;
  align-content: stretch;

  .content {
    flex-grow: 1;
  }
}