.type-box {
  display: inline-block;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid yellow;
  transition: border 0.5s, opacity 0.25s;
  text-align: left;
  font-size: 1.5em;
}

.type-box-stopper {
  width: 300px;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 2em;
}

.expected {
  color: yellow;
}

.focused {
  border: 10px solid red;
}

.blurred {
  opacity: 0.4;
}

.floating-input {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 100000;
  font-size: 24pt;
  opacity: 0.02;
}
