.checkbox {
  user-select: none;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    display: inline-block;
  }

  .fake-checkbox {
    text-align: center;
    width: 21px;
    height: 21px;
    margin-right: 10px;
    display: inline-block;
    border: 2px inset white;
    outline: 2px inset #222;
    background: white;
  }
}
